<h1>Community</h1>

 <div class="row">
    <% @users.each do |user| %>
     <h4>
       <%= image_tag user.avatar(:thumb), class: "img-circle"%>
       <%= link_to user.first_name, user %>
       <!-- @profile.bio -->
       <!-- render profile?  -->
     </h4>
    <% end %>
  </div>
