<h1>Artist: New Event</h1>

<!-- <if artist role - also put NEW EVENT REQUEST BUTTON on HOST show page? >   -->
 <div class="row">
   <div class="col-md-4">
     <p>Add a new event</p>
   </div>
   <div class="col-md-8">
     <%= render partial: 'form', locals: { event: @event } %>
   </div>
 </div>
