<h6><%= @photo.description %></h6>
<%= image_tag @photo.image.url(:medium)%> <br><br>
<!-- if belongs to current_user -->
<%= link_to "Delete", profile_photo_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" %>
<%= link_to "Back", profile_path(@profile), class: "btn btn-sm btn-info" %>
